@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", "Noto Sans Ethiopic", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Update your scoped styles in the component */
.font-sans {
  font-family: "Outfit", sans-serif;
}

/* High-end typography tweaks */
h1,
h2,
h3 {
  letter-spacing: -0.05em; /* Tighter headers look more modern */
}

.tracking-widest {
  letter-spacing: 0.2em; /* Good for small, uppercase labels */
}
